body {
    background-color: #fff;
    color: #000;
    font-family: 'Merriweather', serif;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 375;
    line-height: 1.875;
    margin: 0;
}
body > div {
    font-size: 1.8rem;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.2;
    margin: 0px;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: .93em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
ol, ul {
    margin: 0;
    padding: 0;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: .9em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
a {
    color: black;
    text-decoration: none;
    font-weight: 700;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#header {
    background-color: #fff;
    border-bottom: 1px solid transparent;
    min-height: 50px;
    padding: 0px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
#header, .wrap {
    max-width: 100%;
}
.wrap {
    max-width: 1250px;
}
#site-container, .wrap {
    margin: auto;
}
#title {
    float: left;
    padding-bottom: 30px;
    padding-left: 10px;
}
#site-title {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0;
    text-transform: uppercase;
}
#site-title a, #site-title a:hover, #site-title a:focus {
    color: #000;
    text-decoration: none;
}
#nav-primary {
    float: right;
    margin-top: 0px;
    text-align: right;
    padding-right: 3px;
}
#nav {
    clear: both;
    line-height: 1;
    width: 100%;
}
#nav li {
    float: none;
    list-style-type: none;
}
.menu-item {
    display: inline-block;
    text-align: left;
}
#nav a {
    color: #000;
    display: block;
    font-family: 'Muli', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 10px;
    text-transform: uppercase;
}
#nav a:hover {
    color: darkgreen;
}
#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
    clear: both;
    height: fit-content;
    background-color: lightgrey;
    max-width: 1250px;
    margin: auto;
    word-wrap: break-word;
    z-index: 999;
}
#about-section {
    display: flex;
    margin: 100px 100px 0px 100px;
}
#self-photo {
    margin: 10% 10% 10% 8%;
    width: 30%;
    height: 30%;
    border-radius: 50%;
}
#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    margin-left: 20px;
    padding-top: 50px;
}
.description {
    position: relative;
    top: -30px;
}
.project-description {
    text-align: center;
    font-size: 0.75em;
}
.projects-mobile {
    display: none;
    font-size: 0.5em;
}
#projects h1 {
    margin-bottom: 100px;
}
.project-row {
    display: flex;
}
.project-cell {
    border-radius: 5px;
    background-color: white;
    width: 33.33%;
    height: 300px;
    margin: 0 20px 20px 0;
    border: 2px solid black;
}
.project-cell img {
    border-bottom: 2px solid black;
    width: 100%;
    height: 85%;
}
.divider {
    width: 80%;
    border-bottom: 1px solid rgb(0,0,0,0.3);
}
@media only screen and (max-width: 800px) {
    h1 {
        font-size: 1.5em;
    }
    #site-header {
        width: 100%;
    }
    #title {
        width: 100%;
        padding-bottom: 30px;
        padding-top: 10px;
        padding: 10px 0px 30px 0px;
    }
    #site-title {
        display: flex;
        justify-content: center;
    }
    #nav-primary {
        display: none;
    }
    #about-section {
        flex-direction: column;
        align-items: center;
        margin: 35% 10% 10% 10%;
    }
    #about-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    #self-photo {
        margin: 0;
        width: 80%;
        border-radius: 50%;
    }
    #projects {
        display: flex;
        flex-direction: column;
        padding-top: 0px;
    }
    .projects-mobile {
        position: relative;
        top: -80px;
        text-align: center;
        display: block;
        font-size: 0.5em;
    }
    #projects h1 {
        margin-bottom: 75px;
    }
    .project-row {
        display: flex;
        flex-direction: column;
    }
    .project-cell {
        width: 94%;
        /* height: 300px; */
        margin: 0 20px 20px 0;
        border: 1px solid black;
    }
    .project-cell img {
        height: 80%;
    }
}